{% extends "base.html" %}

<!-- Title -->

{% block title %}New post{% endblock %}

<!-- Nav -->

{% block nav_title %}New post{% endblock %}

<!-- Content -->

{% block content %}

<form action="{% url 'new-post' %}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    {% csrf_token %}
    <h1>Create a new post - <small>Function-based view</small></h1>
    {% for field in form %}
    <div class="fieldWrapper">
      <!-- errors -->
      {{ field.errors }}
      <!-- field -->
      {{ field }}
      <!-- help text -->
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <input
      class="btn btn-primary mt-2"
      id="submit-post"
      type="submit"
      value="Submit"
    />
  </div>
</form>
{% endblock %}
