<div id="counter-{{ post.id }}">
  {% if request.user.is_authenticated %} [[ counter ]]
  <i
    id="like-post-{{ post.id }}"
    @click.prevent="toggleLike"
    class="bi bi-heart"
    :style="{ 'color': liked ? 'red' : 'black' }"
  ></i>
  {% else %} {{ post.like_count }}
  <i class="bi bi-heart" id="like-post-{{ post.id }}"></i>
  {% endif %}
</div>

<script>

  const LikeCounter{{ post.id }} = {
    delimiters: ["[[", "]]"],
    data() {
      return {
        counter: {{ post.like_count }},
        liked: {{ post.liked | lower }},
      };
    },
    methods: {
        async toggleLike() {
            try {
                // TODO: refactor this URL
                const resp = await axios.post("{% url 'like-post' id=post.id  %}");
                console.log(resp.data);
                this.counter = resp.data.likes;
                this.liked = resp.data.like;
            } catch (err) {
                console.log(err);
                alert("Please login or create an account to like posts");
            }
        }
    }
  };

  Vue.createApp(LikeCounter{{ post.id }}).mount("#counter-{{ post.id }}");
</script>
