{% extends "base.html" %}

<!-- Title -->

{% block title %}A post{% endblock %}

<!-- Nav -->

{% block nav_title %}A post{% endblock %}

<!-- Content -->

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<p>{{ post.created_on }}</p>
{% if post.created_by %}
<p>{{ post.created_by }}</p>
{% endif %}
<div>
  <div class="card p-4 mb-2" style="font-size: 1.75em">{{ post.body }}</div>
</div>

{% if post.created_by%}
<a class="btn btn-primary" href="/posts/{{ post.id}}/edit">Edit this post</a>
{% endif %}

{% if request.user.is_authenticated %}
{% if post.created_by.id == request.user.id %}
<form action="/posts/{{ post.id }}/delete" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Delete this post"></a>
</form>
{% endif %}
{% endif %}


{% endblock %}
