amqp==5.0.6
aniso8601==7.0.0
asgiref==3.4.1
aws-secretsmanager-caching==1.1.1.5
billiard==3.6.4.0
boto3==1.18.36
botocore==1.21.36
celery==5.1.2
certifi==2021.5.30
charset-normalizer==2.0.4; python_version >= "3"
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.5.0
django==3.1.13
django-cors-headers==3.8.0
django-graphql-jwt==0.3.4
django-storages==1.11.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
graphene==2.1.9
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
idna==3.2; python_version >= "3"
itypes==1.2.0
jinja2==3.0.1
jmespath==0.10.0
kombu==5.1.0
markupsafe==2.0.1
pillow==8.3.2
promise==2.3
prompt-toolkit==3.0.20
psycopg2-binary==2.9.1
pyjwt==2.1.0
python-dateutil==2.8.2
pytz==2021.1
pyyaml==5.4.1
redis==3.5.3
requests==2.26.0
rx==1.6.1
s3transfer==0.5.0
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
uritemplate==3.0.1
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.3.0
