amqp==5.0.9; python_version >= "3.7"
aniso8601==7.0.0
asgiref==3.5.0; python_version >= "3.7"
aws-secretsmanager-caching==1.1.1.5; python_version > "3.5"
billiard==3.6.4.0; python_version >= "3.7"
boto3==1.20.41; python_version >= "3.6"
botocore==1.23.41; python_version >= "3.6"
celery==5.2.3; python_version >= "3.7"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.10; python_full_version >= "3.6.0" and python_version >= "3"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
click-plugins==1.1.1; python_version >= "3.7"
click-repl==0.2.0; python_version >= "3.7"
click==8.0.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
coreapi==2.3.3
coreschema==0.0.4
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
dj-database-url==0.5.0
django-cors-headers==3.11.0; python_version >= "3.7"
django-graphql-jwt==0.3.4; python_version >= "3.6" and python_version < "4.0"
django-storages==1.12.3; python_version >= "3.5"
django==3.2.11; python_version >= "3.6"
djangorestframework-simplejwt==5.0.0; python_version >= "3.7"
djangorestframework==3.13.1; python_version >= "3.6"
flower==1.0.0
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphene==2.1.9; python_version >= "3.6" and python_version < "4.0"
graphql-core==2.3.2; python_version >= "3.6" and python_version < "4.0"
graphql-relay==2.0.1
gunicorn==20.1.0; python_version >= "3.5"
humanize==3.13.1; python_version >= "3.6"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
itypes==1.2.0
jinja2==3.0.3; python_version >= "3.6"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
kombu==5.2.3; python_version >= "3.7"
markupsafe==2.0.1; python_version >= "3.6"
packaging==21.3; python_version >= "3.6"
pillow==9.0.0; python_version >= "3.7"
prometheus-client==0.12.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
promise==2.3; python_version >= "3.6" and python_version < "4.0"
prompt-toolkit==3.0.24; python_full_version >= "3.6.2" and python_version >= "3.7"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.6"
pyparsing==2.4.7; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pytz==2021.3; python_version >= "3.7"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
redis==4.1.1; python_version >= "3.6"
requests==2.27.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
rx==1.6.1
s3transfer==0.5.0; python_version >= "3.6"
sentry-sdk==1.5.3
singledispatch==3.7.0; python_version >= "3.6" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.7" and python_version < "4.0"
sqlparse==0.4.2; python_version >= "3.6"
text-unidecode==1.3; python_version >= "3.6" and python_version < "4.0"
tornado==6.1; python_version >= "3.5"
uritemplate==3.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
vine==5.0.0; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
