/*
See the README.md in the same directory as this file for information about what this terraform configuration does and how to use it.

Copy this file into `main.tf` and replace values as needed.
*/

terraform {
  required_version = ">=1.1.7"

  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "4.4.0"
    }

    cloudinit = {
      source  = "hashicorp/cloudinit"
      version = "2.2.0"
    }
  }

  backend "s3" {}
}

provider "aws" {
  region = "us-east-1"
}


module "main" {
  source  = "briancaffey/django/aws"
  version = "v0.0.5"
  ecr_be_repo_url = "111111111111.dkr.ecr.us-east-1.amazonaws.com/backend"
  ecr_fe_repo_url = "111111111111.dkr.ecr.us-east-1.amazonaws.com/frontend"
  region          = "us-east-1"
  extra_env_vars = [
    {
      name  = "FOO"
      value = "bar"
    },
    {
      name  = "SENTRY_DSN"
      value = "https://abc@123.ingest.sentry.io/456"
    }
  ]
  acm_certificate_arn = "arn:aws:acm:us-east-1:111111111111:certificate/11111111-1111-1111-1111-111111111111"

  instance_type = "t2.small"

  frontend_url = "https://app.example.com"

  zone_name = "example.com."

  record_name = "app.example.com"

  force_destroy = true

}
