{% extends "base.html" %}

<!-- Title -->

{% block title %}A post{% endblock %}

<!-- Nav -->

{% block nav_title %}A post{% endblock %}

<!-- Content -->

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if post.created_by %}
<span>posted by {{ post.created_by }}</span>
{% else %}
<span>posted anonymously</span>
{% endif %}

<span>on {{ post.created_on }}</span>

<div id="post">
  <div class="card p-4 mb-2" style="font-size: 1.75em">

  {% if post.image %}
  <img src={{ post.image.url }} alt="{{ post.body }}" class="post-image" id="post-image"/>
  {% endif %}

  {{ post.body }}
  </div>
    <a style="text-decoration: none; color: black" href="#">
      {% include "post_likes.html" with post=post %}
    </a>
</div>

<!-- Edit post -->
<div>
{% if post.created_by%}
<a class="btn btn-primary" href="{% url 'post-update-cbv' pk=post.id %}"><i class="bi bi-pencil"></i></a>
{% endif %}

<!-- Delete post -->
{% if request.user.is_authenticated %}
{% if post.created_by.id == request.user.id %}
<a class="btn btn-danger" href="{% url 'post-delete-cbv' pk=post.id %}"><i class="bi bi-trash"></i></a>
</div>
{% endif %}
{% endif %}


{% endblock %}
