{% extends "base.html" %}

<!-- Title -->

{% block title %}All Posts{% endblock %}

<!-- Nav -->

{% block nav_title %}Posts with CBV{% endblock %}

<!-- Content -->

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<h2>Posts ({{ page_obj.paginator.count }}) - CBV</h2>

<div>
  {% for post in page_obj %}
  <a href="/cbv/posts/{{ post.id }}" style="text-decoration: none; color: #000">
    <div class="card p-4 mb-2">
      <div class="">{{ post.body }}</div>
      <div class="">{{ post.created_on }}</div>
      {% if post.created_by %}
      <div>{{ post.created_by }}</div>
      {% endif %}
      {% include "post_likes.html" with post_id=post.id like_count=post.like_count liked=post.liked %}
    </div>
  </a>
  {% endfor %}
  {% include "post_pagination.html" with page_obj=page_obj %}
</div>

{% endblock %}
